html {
  color-scheme: light dark;
  
}

body {
  font-family: var(--primary-font-family);
  line-height: 1.5;
  font-weight: 400;

  color: var(--primary-color-text);
  background-color: var(--primary-color-bg);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Personalización de la barra de progreso o detalles de Sonner */
[data-sonner-toast] {
  &[data-type="success"] {
    // Esto añade una pequeña línea brillante con tu degradado arriba
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 3px;
      background: linear-gradient(90deg, #FFA500, #FF7000);
      border-radius: var(--radius) var(--radius) 0 0;
    }
  }
}
