@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Poppins", sans-serif;

  --primary-color-bg: rgba(17,17,17);
  --secondary-color-bg: rgba(255, 255, 255, 1);

  --primary-color-text: rgba(255, 255, 255, 0.87);
  --secondary-color-text: rgba(66, 66, 66, 1);
  --tertiary-color-text: rgba(158, 158, 158, 1);

  --min-padding: 1rem;
  --max-padding: 2rem;
  --min-margin: 1rem;
  --max-margin: 2rem;
  --min-gap: 1rem;
  --max-gap: 2rem;

  --radius: 1.2rem;
  --transition: 0.25s ease;
  --line-height: 1.5;
}
