
/* 1. TIPOGRAFÍAS: Importación de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* FUENTES: Roboto para lectura de datos y Poppins para encabezados/impacto */
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Poppins", sans-serif;

  /* COLORES DE FONDO: Esquema de "Modo Oscuro" predominante */
  --primary-color-bg: rgba(17,17,17);      
  --secondary-color-bg: rgba(255, 255, 255, 1); 

  /* COLORES DE TEXTO: Jerarquía visual mediante opacidad y escala de grises */
  --primary-color-text: rgba(255, 255, 255, 0.87); 
  --secondary-color-text: rgba(66, 66, 66, 1);     
  --tertiary-color-text: rgba(158, 158, 158, 1);    

  /* LAYOUT Y ESPACIADO: Definiciones consistentes para márgenes y rellenos */
  --min-padding: 1rem;
  --max-padding: 2rem;
  --min-margin: 1rem;
  --max-margin: 2rem;
  --min-gap: 1rem;
  --max-gap: 2rem;

  /* ESTÉTICA Y COMPORTAMIENTO: Bordes redondeados y micro-interacciones */
  --radius: 1.2rem;       
  --transition: 0.25s ease; 
  --line-height: 1.5;    

  /* COLORES DE ESTADO: Semántica para feedback de usuario */
  --error-color: #ff4d4d; 
  --info-color: #0070f3;  
}